<p-toast></p-toast>

<div class="">
    <div class="card">
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <button pButton pRipple label="Agregar alumno" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
                &nbsp;
                <button pButton pRipple label="Eliminar alumno/s" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedAlumnos || !selectedAlumnos.length"></button>
            </ng-template>

            <!-- <ng-template pTemplate="right">
                <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload>
                <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
            </ng-template> -->
        </p-toolbar>
        <!-- [globalFilterFields]="['nombre','country.nombre','representative.nombre','status']" -->
        <p-table #dt [value]="alumnos" [rows]="7" [paginator]="true"  [globalFilterFields]="['nombre','apellido','dni','telefono', 'direccion']"
            [(selection)]="selectedAlumnos" [rowHover]="true" dataKey="dni"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
                <div class="p-d-flex p-ai-center p-jc-between">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search..." />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                    <th pSortableColumn="apellido">Apellido <p-sortIcon field="apellido"></p-sortIcon></th>
                    <th pSortableColumn="dni">Dni <p-sortIcon field="dni"></p-sortIcon></th>
                    <th pSortableColumn="telefono">Telefono <p-sortIcon field="telefono"></p-sortIcon></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-alumno>
                <tr>
                    <td>
                        <p-tableCheckbox  [value]="alumno"></p-tableCheckbox>
                        <!-- <p-checkbox name="groupname"   (click)="OnClick($event)"></p-checkbox> -->
                    </td>
                    <td>{{alumno.nombre}}</td>
                    <td>{{alumno.apellido}}</td>
                    <td>{{alumno.dni}}</td>
                    <td>{{alumno.telefono}}</td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editAlumno(alumno)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteAlumno(alumno)"></button>
                    </td>
                </tr>
            </ng-template>
            
        </p-table>
    </div>
</div>

<p-dialog [(visible)]="alumnoDialog" [style]="{width: '450px', height:'700px'}" [header]="titulo" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="form" (ngSubmit)="saveAlumno()"> 
            <div class="p-field">
                <label class="block" for="nombre">Nombre</label>
                <input type="text" pInputText  id="nombre"  formControlName="nombre"/>
                <small class="p-invalid" *ngIf="submitted && !alumno.nombre">Nombre es un campo obligatorio.</small>
            </div>
            <div class="p-field">
                <label for="nombre">Apellido</label>
                <input type="text" pInputText  id="apellido"  formControlName="apellido"/>
                <small class="p-invalid" *ngIf="submitted && !alumno.apellido">Apellido es un campo obligatorio.</small>
            </div>
            <div class="p-field">
                <label for="nombre">Dni</label>
                <input type="text" pInputText  id="dni"  formControlName="dni"/>
                <small class="p-invalid" *ngIf="submitted && !alumno.dni">Dni es un campo obligatorio.</small>
            </div>
            <div class="p-field">
                <label for="nombre">Telefono</label>
                <input type="text" pInputText  id="telefono"  formControlName="telefono"/>
                <small class="p-invalid" *ngIf="submitted && !alumno.telefono">Telefono es un campo obligatorio.</small>
            </div>
            <div class="p-field">
                <label for="nombre">Direccion</label>
                <input type="text" pInputText  id="direccion"  formControlName="direccion"/>
                <small class="p-invalid" *ngIf="submitted && !alumno.direccion">Direccion es un campo obligatorio.</small>
            </div>
            <div class="p-field">
                <label for="fechaNac" class="block">Fecha de nacimiento</label>
                <input type="date" pInputText  id="fechaNac"  formControlName="fechaNac"/>
                <small class="p-invalid" *ngIf="submitted && !fechaNac">Fecha de nacimiento es un campo obligatorio.</small>
            </div> 
            <div class="p-field" *ngIf="titulo === 'Agregar Alumno'">
                <label for="nombre">Email</label>
                <input type="text" pInputText  id="email"  formControlName="email"/>
                <small class="p-invalid" *ngIf="submitted && !email">Email es un campo obligatorio.</small>
            </div>
        </form>
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialogAlumno()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveAlumno()"></button>
    </ng-template>

</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog> 